@import 'theme';
@import 'animations';
@import 'components';

body {
  background-color: $background-colour;
  min-height: 100vh;
}

p {
  @include text;
}

.inline {
  display: inline;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - #{$footer-height});
  text-align: center;
}

.app-header {
  align-items: center;
  color: $text-colour;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 3vmin);
  justify-content: center;
}

.app-link {
  color: $link-colour;
}

footer {
  background-color: $secondary-colour;
  bottom: 0;
  color: $text-colour;
  height: $footer-height;
  left: 0;
  position: fixed;
  width: 100vw;


  p {
    float: right;
    font-size: .8em;
    margin: 2px 10px;
  }
}

button {
  background-color: transparent;
  border-radius: 2px;
  color: $text-colour;
  cursor: pointer;
  font-size: 1em;
  padding: 15px 25px;

  &:hover {
    background-color: rgba($link-colour, .2);
    transition: background-color 200ms linear;
  }
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.fixed-bottom {
  bottom: 50px;
  position: absolute;

  &--animated {
    animation: fadein 1s;
  }
}

code {
  background-color: $secondary-highlight-colour;
  border-radius: 5px;
  padding: 2px 5px;
}

.gamecode {
  background-color: $secondary-highlight-colour;
  border: 1px $secondary-colour solid;
  border-radius: 5px;
  padding: 8px 12px;

  &--inline {
    @include text;
    display: inline;
  }
}

.error {
  @include text;
  background-color: $error-colour;
  border: 1px $secondary-error-colour solid;
  border-radius: 5px;
  margin: 40px;

  &--large {
    padding: 20px;
  }
}
